@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root{
    --main-color: #701515;
    --main-font: 'Poltawski Nowy', serif;
    --tall-pic-height: 700px;
    --short-pic-height: 350px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    display: flex;
    min-height: 100vh;
}

.header {
    flex: 0 1 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;
    background-color: #FFF;
    position: sticky;
    top: 0;
    height: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 100px;
    align-items: center;
}

.logo {
    width: 200px;
}

.location {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.location a{
    text-decoration: none;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--main-font);
    font-style: italic;
    font-weight: 400;
}

.location a:hover{
    color: #000;
}

nav ul {
    list-style-type: none;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    font-family: var(--main-font);
    font-weight: 700;
}

.open-icon, .close-icon {
    background-color: var(--main-color);
    -webkit-mask-image: url('imgs/menu.svg');
    mask-image: url('imgs/menu.svg');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: none;
}

.close-icon {
    -webkit-mask-image: url('imgs/close.svg');
    mask-image: url('imgs/close.svg');
}

nav ul li:hover{
    cursor: pointer;
    color: #000;
}

.images-grid {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.col {
    flex: 1;
    max-width: 50%;
}

.col .img {
  width: 100%;
  margin-top: 10px;
  vertical-align: middle;
}

.description {
    text-align: center;
    width: 70%
}

.lower-grid {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.lower-grid .row {
    display: flex;
    gap: 10px;
}

.lower-grid .img {
    flex: 1;
    width: 100%;
}

.menu-div, .location-div {
    flex: 1;
    display: flex;
    align-items: center;
    
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 50px 50px ;

}

.lower-grid .btn {
    width: 150px;
    padding: 10px;
    background-color: #FFF;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    margin-top: 50px;
}

.lower-grid .btn:hover {
    cursor: pointer;
    border: 1px solid #000;
    color: #000;
}


@media only screen and (max-width: 980px) {
    #content{
        flex-direction: column;
    }

    .header {
        flex: 0 1 100px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .logo {
        width: 150px;
    }

    .location{
        display: none;
    }

    nav ul{
        display: none;
    }

    .open-icon, .close-icon {
        display: inline-block;
    }


    .responsive-nav {
        width: 100%;
        min-height: calc(100vh - 100px);
        display: flex;
        padding-top: 20px;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: #FFF;
        border-top: 1px gray solid;
    }

    .description{
        width: 95%;
    }

    .lower-grid .row {
        flex-direction: column-reverse;
    }


    .menu-div, .location-div {
        min-height: 400px;
    }

    .lower-grid > .row ~.row {
        flex-direction: column;
    }

    .text-wrapper {
        padding: 20px 20px;
    }

    
}

@media only screen and (max-width: 600px) {
    .images-grid {
        flex-direction: column;
        gap: 0;
    }

    .col {
        max-width: 100%;
    }

    .description{
        width: 100%;
        font-size: 15px;

    }
}

