@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root{
    --main-color: #701515;
    --main-font: 'Cormorant Garamond', serif;
    --tall-pic-height: 700px;
    --short-pic-height: 350px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hero Image for each page */

.hero-img {
    position: relative;
    width: 100%;
    padding-top: 10px;
    z-index: -100;
    
}

.hero-img img{
    display: block;
    width: 100%;
    height: auto;
}

.hero-img .logo {
    position: absolute;
    width: 200px;
    bottom: 5%;
    left: calc(50% - 100px);

    
}

/* Description for each page */

.description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: var(--main-font);
    font-size: 1.2rem;
    max-width: 1000px;
    padding: 10px;
}

.description-wrapper h2 {
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-size: 3rem;
}

/* Main content and and nav bar */

#content {
    display: flex;
    min-height: 100vh;
}

#content > div {
    width: 100%;
}

.header {
    flex: 0 1 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;
    background-color: #FFF;
    position: sticky;
    top: 0;
    height: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 80px;
    align-items: center;
    padding-bottom: 80px;

}

.logo {
    width: 200px;
}

.location {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.location a{
    text-decoration: none;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--main-font);
    font-style: italic;
    font-weight: 400;
    font-size: 1.2rem;
}

.location a:hover{
    color: #000;
}

nav ul {
    list-style-type: none;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 1.2rem;
}

.open-icon, .close-icon {
    background-color: var(--main-color);
    -webkit-mask-image: url('imgs/menu.svg');
    mask-image: url('imgs/menu.svg');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: none;
}

.close-icon {
    -webkit-mask-image: url('imgs/close.svg');
    mask-image: url('imgs/close.svg');
}

nav ul li:hover{
    cursor: pointer;
    color: #000;
}

/* Homepage */

.images-grid {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.col {
    flex: 1;
    max-width: 50%;
}

.col .img {
  width: 100%;
  margin-top: 10px;
  vertical-align: middle;
}

.description {
    text-align: center;
    width: 70%;
    font-family: var(--main-font);
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;
}

.lower-grid {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.lower-grid .row {
    display: flex;
    gap: 10px;
}

.lower-grid .img {
    flex: 1;
    width: 100%;
}

.menu-div, .location-div {
    flex: 1;
    display: flex;
    align-items: center;
    
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 50px 50px ;
    font-family: var(--main-font);
    font-size: 1.3rem;
}

.text-wrapper h2 {
    font-weight: 700;
    font-style: italic;
    font-size: 2.6rem;
}

.text-wrapper p {
    font-weight: 400;
}

.btn {
    width: 200px;
    padding: 10px;
    background-color: #FFF;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    margin-top: 50px;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 1.1rem;
}

.btn:hover {
    cursor: pointer;
    border: 1px solid #000;
    color: #000;
}

/* Menu Css */
.menus-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    gap: 15px;
    font-family: var(--main-font);
    font-size: 1.3rem;
}

.menu-section {
    max-width: 450px;
    padding: 15px;
}

.menu-section h3 {
    padding-bottom: 20px;
    font-style: italic;
    font-weight: 700;
}

.menu-section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-section li p {
    font-style: italic;
    padding-top: 10px;
}

.menu-section li h4 {
    display: flex;
    justify-content: space-between;
}

/* Hours and Location Page */

.hours-location {
    display: flex;
    width: 600px;
    justify-content: space-between;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 1.3rem;
}

.map iframe{
    width: 600px;
    height: 450px;
}

/* Contact page */

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    font-family: var(--main-font);
}

.contact-form label{
    font-weight: 600;
}

.contact-form label span {
    color: rgb(126, 126, 126);
    font-style: italic;

}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #000;
    font-family: var(--main-font);
    font-size: 1.3rem;
}

.contact-form input::placeholder, .contact-form textarea::placeholder{
    font-family: var(--main-font);
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(126, 126, 126);
    opacity: 1;
}


@media only screen and (max-width: 980px) {
    #content{
        flex-direction: column;
    }

    .header {
        flex: 0 1 100px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .logo {
        width: 150px;
    }

    .location{
        display: none;
    }

    nav ul{
        display: none;
    }

    .open-icon, .close-icon {
        display: inline-block;
    }


    .responsive-nav {
        width: 100%;
        min-height: calc(100vh - 100px);
        display: flex;
        padding-top: 20px;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: #FFF;
        border-top: 1px gray solid;
    }

    .description{
        width: 95%;
    }

    .lower-grid .row {
        flex-direction: column-reverse;
    }


    .menu-div, .location-div {
        min-height: 400px;
    }

    .lower-grid > .row ~.row {
        flex-direction: column;
    }

    .text-wrapper {
        padding: 20px 20px;
    }

    .hero-img .logo {
        width: 100px;
        left: calc(50vw - 50px);
    }

    .menus-container {
        justify-content: center;
    }
    
}

@media only screen and (max-width: 600px) {
    .images-grid {
        flex-direction: column;
        gap: 0;
    }

    .col {
        max-width: 100%;
    }

    .description{
        width: 100%;
    }
    
    .map iframe, .hours-location, .contact-form{
        width: 300px;
    }

    .hours-location {
        flex-direction: column;
        gap: 20px;
    }
}

